main {
    background-color: var(--color-black);
}

.user-page {
    display: flex;
    box-sizing: border-box;
    text-align: left;
    max-height: 100vh;
}

.sidebar-column {
    width: 20rem;
    display: flex;
    flex-direction: column;
}

.sidebar-home {
    padding: 10px;
    margin: 0.5rem 0.25rem 0.25rem 0.5rem;
    background-color: var(--color-dark-grey);
    border-radius: var(--border-radius-card);
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0.25rem 0.25rem 0.5rem 0.5rem;
    background-color: var(--color-dark-grey);
    border-radius: var(--border-radius-card);
    flex: 1;
    overflow-y: auto;
}

.sidebar-home h2,
.sidebar-links h2 {
    padding: 0.75rem;
}

.sidebar-home p {
    padding: 0 0.75rem;
}

.sidebar-links h3 {
    font-size: 1.1rem;
}


.link-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: var(--border-radius-card);
    transition: background-color 0.25s;
}

.link-card:hover {
    cursor: pointer;
    background-color: var(--color-card);
}

.link-image {
    width: 30%;
    border-radius: var(--border-radius-image);
}

.link-card-text {
    display: flex;
    flex-direction: column;
}

.link-card h3 {
    font-size: 1.1rem;
}

.link-card p {
    color: var(--color-light-grey);
    font-size: 0.85rem;
}

.link-card.active {
    background-color: var(--color-card);
}


.main-column {
    flex: 1;
    background-color: var(--color-dark-grey);
    border-radius: var(--border-radius-card);
    /* padding: 20px; */
    overflow: scroll;
    margin: 0.5rem 0.5rem 0.5rem 0.25rem;
    height: calc(100vh - 1rem);
}

.main-column h1 {
    margin: 0 0 1.5rem 0.75rem;
}

.main-content-container {
    padding: 20px;
    overflow-y: auto;
    height: 100%;
}

.cards-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.card {
    background-color: var(--color-card);
    padding: 15px;
    width: 11.5rem;
    height: 16.483rem;
    box-sizing: border-box;
    border-radius: var(--border-radius-card);
    transition: background-color 0.25s;
    box-sizing: border-box;
    display: flex;
    align-items: left;
    flex-direction: column;
    text-align: left;
}

.card:hover {
    background-color: var(--color-card-hover);
    cursor: pointer;
}

.card h3 {
    font-size: 0.9rem;
}

.card p {
    font-size: 0.8rem;
    color: var(--color-light-grey);
}


.card-image {
    width: 154px;
    height: 154px;
    object-fit: cover;
    /* Maintain aspect ratio and cover the entire container */
    border-radius: var(--border-radius-image);
    margin-bottom: 0.7rem;
}

.link-top {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.link-bottom {
    display: flex;
    flex-direction: column;
    margin: auto 0 0.5rem 0;
}

#button-logout {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    padding: 1.2rem;
    width: 100%;
    background-color: var(--color-card);
    height: 1rem;
    text-align: center;
    box-sizing: border-box;
    margin-top: 1rem;
}

#button-logout:hover {
    background-color: var(--color-card-hover);
}

.back-button {
    background-color: var(--color-card);
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 1.2rem;
    margin: 0 15px 0 0;
}

.back-button:hover {
    background-color: var(--color-card-hover);
}

.playlist-image {
    width: 154px;
    height: 154px;
    object-fit: cover;
    border-radius: var(--border-radius-image);
    box-shadow: rgba(49, 44, 44, 0.393) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.playlist-info-container {
    padding: 15px;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    background-color: var(--color-card);
    border-radius: var(--border-radius-card);
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end;
    margin: 0.25rem;
    gap:  0.1rem;
}

.right-column h1 {
    margin-bottom: 0;
    display: flex;
}

.grey-text {
    color: var(--color-light-grey);
}

.playlist-table {
    padding: 15px;
    background-color: var(--color-card);
    border-radius: var(--border-radius-card);   
}

.playlist-table table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}

.playlist-table th {
    font-size: 1.3rem;
    padding: 0.5rem;
}

.playlist-table td {
    padding: 0.5rem;
    font-size: 0.92rem;
}

.playlist-table tr {
    transition: background-color 0.25s;
}

.playlist-table tbody tr:hover {
    background-color: var(--color-card-hover);
}

.playlist-table tbody tr td:first-child {
    border-radius: 0.6rem 0 0 0.6rem;
}

.playlist-table tbody tr td:last-child {
    border-radius: 0 0.6rem 0.6rem 0;
}

.playlist-table tbody tr:hover td:first-child {
    border-radius: 0.6rem 0 0 0.6rem;
}

.playlist-table tbody tr:hover td:last-child {
    border-radius: 0 0.6rem 0.6rem 0;
}

.playlist-album-cover {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.title-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.title-right {
    display: flex;
    flex-direction: column;
}


.playlists-analysis-container {
    margin-top: 2rem;
}

.playlists-analysis-container h2 {
    padding: 14px;
}

.playlists-analysis-container h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.playlists-analysis-container p {
    font-size: 0.9rem;
}

.analysis-card {
    width: 24.5rem;
    height: 11.6rem;
    flex-direction: row;
    gap: 1rem;

}

.analysis-card-right {
    overflow-y: scroll;
    width: 100%;
}

.analysis-card:hover {
    cursor: default;
}

.analysis-card-right .larger-font {
    font-size: 3.5rem;
}